#Encabezado
{
   display: flex;
   background-color: #4E94AB;
   height: 85px;
   width: 96%;
   align-items:center;
   padding: 20px;
   min-height: 40px;
   position: absolute;
   top: 25%;
   text-align: center;
   justify-content: center;
   font-family: 'Poppins', sans-serif;
   font-size: 60px;
    
   

}
body
{
    margin: 0;
}
#imagen
{
    position: absolute;
    width: 100%;
    height: 170px;
    background-image: url("playias.jpg");
    background-repeat: no-repeat;
    
}